/* Add border-box sizing model */
/* Remove default margins, paddings, borders and outlines from all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}

/* Global line-height*/
body {
  line-height: 1.5;
}

/* Shorter line-height for headings and buttons etc. */
h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

/* Avoid text overflows */
p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  font-size: inherit;
}

/* Imporve media defaults */
/* To overflow a image over 100%, use {max-width: revert;} on the selected element  */
img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}
