@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

:root {
    --bg-main: hsl(220, 100%, 10%);
    --bg-alt:  hsl(220, 100%, 85%);
    --bg-btn:  hsl(220, 100%, 25%);
    
    --accent:  hsl(180, 110%, 50%);

    --tx-p:    hsl(220, 100%, 85%);
    --tx-s:    hsl(220, 100%, 75%);
    --tx-inv:  hsl(220, 100%, 15%);

    --fn-p: "Roboto Flex", sans-serif;
    --fn-s: "Inter", sans-serif;
    --rad: 1000px;
    --gap: 1rem;
    --nav-h: 100px;

    --sz-1: 0.95rem;
    --sz-2: 1.15rem;
    --sz-3: 1.35rem;
    --sz-4: 1.60rem;
    --sz-5: 1.95rem;
    --sz-6: 2.30rem;

    --w-1: 150;
    --w-2: 225;
    --w-3: 337;
    --w-4: 506;

    --sh-p: 0 0 15px hsla(220, 100%, 30%, 0.3);
    --sh-s: 0 0 15px hsla(var(--h2), 110%, 50%, 0.3);
}